.event-calendar-container {
 
}

.events-container2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}

.new-events-container,
.past-events-container {
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.filter-dropdown {
  margin: 10px 0;
  text-align: center;
  
}

.filter-dropdown select {
  padding: 0;
  font-size: 14px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #d6dde4;
  color:  #161718;
  border: solid 1px #cad0d6;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #c2c8cf;
  border: solid 1px #cad0d6;
}

.past-events-container {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  gap: 20px;
}

.new-events-container {
  background-color: #fff;
  border: 1px solid #ddd;
}

ul {
  list-style-type: none; 
  padding-left: 0; 
}

ol {
  list-style-type: none;
  padding-left: 0; 
}

.create-event-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.event-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.future-item, .past-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px; 
  margin: 10px;
  padding: 15px;
}


.new-events-container h3,
.past-events-container h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.new-events-container li,
.past-events-container li {
  padding: 8px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.past-events-container li {
  background-color: #f7f7f7;
}

.new-events-container li:hover,
.past-events-container li:hover {
  background-color: #f0f0f0;
}

.past-events-container li {
  color: #aaa;
  
}

.edit-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px; 
  font-size: 5px;
  gap: 10px;
}

.edit-buttons button {
  min-width: 0; 
  min-height: 0; 
  padding: 8px;
  font-size: 13px; 
}




/* ________________________________________________MEDIAS_____________________________________________________________________ */



@media (max-width: 768px) {
  .events-container {
    flex-direction: column;
    align-items: center;
  }
  .new-events-container,
  .past-events-container {
    width: 100%;
  }
}

