.add-habit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    background-color: #f6faff;
    border: 2px solid rgb(242, 246, 249);
    box-shadow: black;
    min-height: 20px;
    min-width: 20px;
}

.show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    background-color: #f6faff;
    border: 2px solid rgb(242, 246, 249);
    box-shadow: black;
    min-height: 20px;
    min-width: 20px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}