

.todo-container, .habits-container, .events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 15px;
  border-radius: 15px;
  background-color: #f6faff;
  border: 2px solid rgb(242, 246, 249);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.037);
  min-height: 350px;
  min-width: 350px;
}
.reg-page-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.todos{
  display: flex;
}
a:hover{
  color: darkblue;
}

.todo-container ul {
  background-color: #e9f1fb;
  padding: 20px;
  border-radius: 15px;
}

.habits-container ul {
  background-color: #e9f1fb;
  padding: 20px;
  border-radius: 15px;
}

.events-container ul {
  background-color: #e9f1fb;
  padding: 20px;
  border-radius: 15px;
}

main {
  display: flex;
  justify-content: center;
  
}

.greeting-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.quote {
  /* display: flex;
  justify-content: center; */
  font-family: monospace;
}

.footer {
  display: flex;
  justify-content: center;
}

.header {
    background-color: rgb(46, 46, 95);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 270px;
    min-height: 50px; 
}

.logo-container {
  display: flex;
  align-items: start;
  margin: 10px;
  border-radius: 10px;
  width: 70px;
}

.btn-container {
  display: flex;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.log-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.input-login-container {
justify-content: center;
display: flex;
flex-direction: column;
margin: 0px;
padding: 0px;  
}
.log-in-container label {
  font-weight: bold;
  font-size: 14px;
}
.log-in-container input {
  font-size: 12px;
}

a {
  color: #3290ed;
  text-decoration: none;
}

nav a {
  font-size: large;
  color: white;
  font-weight: bold;
}
nav a:hover{
  color: blue;
}

body{
    background: #ffffff;
    color: black;
    padding: 0;
    margin: 0;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  input, select{
    background: white;
  }
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    min-height: 50px;
    
}
main{
    display: flex;
    align-items: center;

}
button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #d6dde4;
    color:  #161718;
    border: solid 1px #cad0d6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  ul {
    list-style-type: none; 
    padding-left: 0; 
  }
  
  ol {
    list-style-type: none;
    padding-left: 0; 
  }
  
  button:hover {
    background-color: #c2c8cf;
    border: solid 1px #cad0d6;
  }
  @media (max-width: 768px) {
    .events-container {
      flex-direction: column;
      align-items: center;
    }
    .new-events-container,
    .past-events-container {
      width: 100%;
    }
  }

 
  