
.completedTodos{
  color: green;

}


.todo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 15px;
  border-radius: 15px;
  background-color: #eef2f7;
  border: 2px solid #eceff2;
  box-shadow: black;
}
#errorMessage{
  color: red;
  font-weight: 800;
}

.addTodo{
  display: flex;
  flex-direction: column;
  width: 200px;
}

